
    <!-- header area -->
    <div data-role="header" data-position="fixed" >
        <a href="#bottomsheet-about-us" class="ui-btn ui-btn-right" ><i class="zmdi zmdi-more-vert"></i></a>
        <a href="#leftpanel-about-us" class="ui-btn ui-btn-left"><i class="zmdi zmdi-menu"></i></a>
        <h1>About Us</h1>
    </div>
    <!-- /header area -->

    <!-- content area -->
    <div role="main" class="ui-content" data-inset="false">

        <div class="nd2-card">

            <p>Coming Soon</p>

        </div>

    </div>
    <!-- /content area -->