

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="http://lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="http://eatlogos.com/education_logos/png/vector_sun_book_logo.png" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>USMAN</strong>
								<span class='subline'>Public School System</span>
							</div>
						</div>
					</div>
				</div>


				<ul data-role="listview" data-inset="false" data-icon="false">
					<li><a href="#news-feeds" data-ajax='false' data-icon="false"><i class="zmdi zmdi-cast"></i> News Feeds</a></li>
					<li><a href="#notifications" data-ajax='false' data-icon="false"><i class="zmdi zmdi-notifications-active"></i> Notifications</a></li>
				</ul>
				<hr class="inset">
				<ul data-role="listview" data-inset="false" data-icon="false">
					<li><a href="#about-us" data-ajax='false' data-icon="false"><i class="zmdi zmdi-account"></i> About Us</a></li>
					<li><a href="#contact-us" data-ajax='false' data-icon="false"><i class="zmdi zmdi-phone"></i> Contact Us</a></li>
					<li><a href="" data-ajax='false' data-icon="false"><i class="zmdi zmdi-share"></i> Share</a></li>
				</ul>
				

